@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #000;
    height: 100vh;
    max-width: 100vw;
}

#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    position: fixed;
    min-height: 100vh;
    font-family: "Geologica", serif;
  }